{% extends "base.html" %}

{% block body %}
{% include "navbar.html" %}

<div class="content">
  <div class="deposit-form-container">
    <h3>Deposit funds</h3>
    <form action="" method="POST">
        <div class="row">
            <label>Enter amount</label><br />
            <input name="amount" type="number" placeholder="amount" required/>
          </div>
          <div class="row">
            <button type="submit" class="btn-green">Add Funds</button>
          </div>
    </form>
  </div>
</div>
{% endblock body %}