{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}

<div class="content">
  <div class="box">
    <div class="row"><strong>User:</strong> {{ user.name }}</div>
    <div class="row"><strong>Balance:</strong> ${{ user.balance }}</div>
  </div>
  
  <div class="box">
    {% if not round_active %}
      <form method="post" action="{{ url_for('bet') }}" class="game-form">
        <label><strong>Place bet</strong></label>
        <input type="number" name="amount" min="1" required />
        <button type="submit" class="btn-green">Deal</button>
      </form>
    {% else %}
      <form method="post" action="{{ url_for('hit') }}">
        <button type="submit" class="btn-green">Hit</button>
      </form>
      <form method="post" action="{{ url_for('stand') }}">
        <button type="submit" class="btn-green">Stand</button>
      </form>
    {% endif %}
  </div>
  
  <div class="box">
    <div class="log">{{ log }}</div>
  </div>
</div>
{% endblock %}
