<header>
    <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">  
      {% if request.endpoint != 'home' %}
        <a href="{{ url_for('home') }}" class="home-link" > <img src="{{ url_for('static', filename='img/home.png') }}" alt=""  style="width: 30px; height: 35px;" > </a> 
      {% else %}
        <a><h2>All In Santos</h2></a>
      {% endif %}
    </div> 
    <nav>
      <div class="dropdown">
        <span>Profile<i class="fa-solid fa-caret-down"></i></span>
        <div class="dropdown-content">
          <p>{{ user.pref_name}}</p>
          <p>Balance: ${{user.balance}}</p>
          <a href="{{ url_for('deposit') }}" class="menu-link">Deposit</a>
          <a href="{{ url_for('stats') }}" class="menu-link">Statistics</a>
          <a href="{{ url_for('logout') }}" class="logout-red">Log out</a>
        </div>
      </div>
    </nav>
</header>